* {
box-sizing: border-box;
}
body,h1,h2,h3,h4  {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Roboto;
   
}
.aerer {
    padding: 10px;
}

.aplan {
    width: 100%;
}
 
.citation{
    width: 100%;
    text-align: center;
}
.doubleaerer{
   margin-top: 50px;
   margin-left: 150px;
   margin-right: 150px;
   margin-bottom: 50px;
}
.pied {
    background-color: rgb(115, 33, 178);
    color: white;
}
.infopied {
    margin-top: 50px;
}